@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: aquamarine;
}

.navbarLink {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0PX 20px;
}

.pagelink {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.pagelink li,
a,
.homepagelink {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 30px;
    padding: 10px 5px;
}

a {
    padding: 10px 12px;
    text-decoration: none;
    color: black;
}

.link:hover,
.homepagelink .user-profil:hover,
.homepagelink .logo:hover {
    background-color: rgb(28, 132, 185);
}

.navbar .navbarLink .homepagelink .user-profil {
    display: flex;
    align-items: center;
    padding: 0px 5px;
}

.navbar .navbarLink .homepagelink .user-profil .userInfo {
    gap: 3px;
    align-items: center;
    position: relative;
    display: inline-block;
}

.navbar .navbarLink .homepagelink .user-profil .dropdown-content {
    display: none;
    position: absolute;
    top: 49px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 33px;
}

.navbar .navbarLink .homepagelink .user-profil :hover .dropdown-content {
    display: block;
}

.navbar .navbarLink .homepagelink .user-profil .dropdown-content h5 {
    color: black;
    padding: 12px 16px;
    display: block;
}

.navbar .navbarLink .homepagelink .user-profil .dropdown-content h5:hover {
    background-color: #ddd;
}

.navbar .navbarLink .homepagelink .user-profil .user-icone {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.navbar .navbarLink .menuIcone i {
    display: none;
    padding: 16px;
    cursor: pointer;
}

@media only screen and (max-width: 590px) {

    .navbar .navbarLink .menuIcone {
        position: relative;
    }

    .navbar .navbarLink .dropdown-menu-content {
        position: absolute;
        display: none;
        top: 49px;
        background-color: #f1f1f1;
        min-width: 189px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        right: 0px;
        flex-direction: column;
    }

    .navbar .navbarLink .dropdown-menu-content .pagelink {
        flex-direction: column;
    }

    .navbar .navbarLink .menuIcone i {
        display: block;
    }

    .navbar .navbarLink .menuIcone:hover .dropdown-menu-content {
        display: flex;
    }

    .navbar .navbarLink .menuIcone:hover {
        background-color: rgb(28, 132, 185);
    }
}