.progress-bar {
    width: 100%;
    height: 6px;
    border-radius: 8px;
    background-color: #ffffff;
    border-radius: 10px;

}

.progress-bar-fill {
    border-radius: 8px;
    height: 6px;
    background-color: #ea0909;
    transform: translate(calc(100%));
    transition: transform 0.5s ease-in;
}

            