@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

* {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
}

.userLogin-Div {
    width: 400px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 14px 1px #9b9a9a;
    margin-top: 90px;
}

.userLogin-Div .userLoginForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.userLogin-Div .userLoginForm .inputLable {
    display: block;
    font-size: medium;
    padding: 5px;
    line-height: 20px;
}

.userLogin-Div .userLoginForm .input-fild .userPassword {
    position: relative;
}

.userLogin-Div .userLoginForm .input-fild .userPassword .passwordShowIcone {
    position: absolute;
    top: 0px;
    right: 27px;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userLogin-Div .userLoginForm .input-fild .userPassword .passwordShowIcone i {
    font-size: x-large;
}

.userLogin-Div .userLoginForm .userInputImageDiv {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.userLogin-Div .userLoginForm .UserInput {
    font-size: larger;
    border: 2px solid #968f8f;
    border-radius: 15px;
    width: -webkit-fill-available;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.userLogin-Div .userLoginForm .UserInputImageButton {
    font-size: larger;
    border: 2px solid #968f8f;
    border-radius: 15px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    padding: 5px 20px;
    font-weight: 400;
    font-style: normal;
    display: flex;
    cursor: pointer;
}

.userLogin-Div .userLoginForm .UserInput:hover {
    border-color: #000;
}

.userLogin-Div .userLoginForm .userFormButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    height: 100%;
    padding: 30px 0px;
}

.userLogin-Div .userLoginForm .userFormButton .button {
    width: 100%;
    padding: 6px;
    border-radius: 10px;
    font-size: larger;
    overflow: hidden;
    cursor: pointer;
}

.userLogin-Div .userLoginForm .userFormButton .Login-Button {
    background-color: #fafc70;
}

.userLogin-Div .userLoginForm .userFormButton .Login-Button:hover {
    background-color: #eff237;
}

.userLogin-Div .userLoginForm .userFormButton .Login-button {
    background-color: rgb(137, 214, 128);
}

.userLogin-Div .userLoginForm .userFormButton .Login-button:hover {
    background-color: rgba(13, 208, 10, 0.762);
}

.error {
    color: #a20606;
    font-weight: bold;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.user-img img {
    border: 2px solid #767676;
    border-radius: 50%;
}

@media only screen and ( max-width:460px ){
    .userLogin-Div {
        width: auto;
        margin: 20px;
    }
}